:root {
  --mt-brand:      #DE5523;
  --mt-bright:     #FF5516;
  --mt-light:      #E1733D;
  --mt-light-blue: #536587;
  --mt-dark-blue:  #36495D;
  --mt-grey:       #282828;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
  color: #000;
  background: #000;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: adelle-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.4;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  margin-top: 0;
}

.container {
  height: 100%;
  width: 100%;
}

.mt-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.page-enter-active .mt-nav-list,
.page-leave-active .mt-nav-list {
  opacity: 0;
}

.mt-box {
  position: absolute;
  height: 25%;
  width: 50%;
  padding: 1.5% 3%;
  background: #FFF;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.35s ease-in-out;
}

.mt-portrait {
  float: left;
  position: relative;
  top: 60px;
  transition: all .15s;
}

.mt-box--about {
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background: #FFF;
}

.page-enter-active .mt-box--about,
.page-leave-active .mt-box--about {
  height: 100%;
  width: 50%;
}

.mt-box--work {
  right: 0;
  top: 0;
  height: 50%;
  background: var(--mt-bright);
}

.page-enter-active .mt-box--work,
.page-leave-active .mt-box--work {
  width: 50%;
  height: 50%;
}

.mt-box--contact {
  right: 0;
  bottom: 0;
  height: 17%;
  background: var(--mt-dark-blue);
}

.page-enter-active .mt-box--contact,
.page-leave-active .mt-box--contact  {
  width: 50%;
  height: 17%;
}

.mt-box--sketches {
  right: 25%;
  top: 50%;
  height: 33.333333%;
  width: 25%;
  background: var(--mt-light);
}

.page-enter-active .mt-box--sketches,
.page-leave-active .mt-box--sketches  {
  right: 25%;
  top: 50%;
  width: 25%;
  height: 33.333333%;
}

.mt-box--writing {
  right: 0;
  top: 50%;
  height: 33.333333%;
  width: 25%;
  background: var(--mt-brand);
}

.page-enter-active .mt-box--writing,
.page-leave-active .mt-box--writing  {
  right: 0;
  top: 50%;
  width: 25%;
  height: 33.333333%;
}

.mt-box--full {
  width: 100%;
  height: 100%;
}

.page-leave-active .mt-box--back {
  width: 50%;
}

.nav-about--is-active .mt-box--work,
.nav-about--is-active .mt-box--writing,
.nav-about--is-active .mt-box--contact,
.nav-about--is-active .mt-box--sketches {
  transition: all 0.5s ease-in-out;
	transform: scale(0.5);
	opacity: 0;
}

.nav-work--is-active .mt-box--about,
.nav-work--is-active .mt-box--writing,
.nav-work--is-active .mt-box--contact,
.nav-work--is-active .mt-box--sketches {
  transition: all 0.5s ease-in-out;
	transform: scale(0.5);
	opacity: 0;
}

.nav-sketches--is-active .mt-box--about,
.nav-sketches--is-active .mt-box--writing,
.nav-sketches--is-active .mt-box--contact,
.nav-sketches--is-active .mt-box--work {
  transition: all 0.5s ease-in-out;
	transform: scale(0.5);
	opacity: 0;
}

.nav-writing--is-active .mt-box--about,
.nav-writing--is-active .mt-box--sketches,
.nav-writing--is-active .mt-box--contact,
.nav-writing--is-active .mt-box--work {
  transition: all 0.5s ease-in-out;
	transform: scale(0.5);
	opacity: 0;
}

.nav-contact--is-active .mt-box--about,
.nav-contact--is-active .mt-box--sketches,
.nav-contact--is-active .mt-box--writing,
.nav-contact--is-active .mt-box--work {
  transition: all 0.5s ease-in-out;
	transform: scale(0.5);
	opacity: 0;
}

.mt-box--open {
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

.mt-title {
  width: 100%;
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
  color: #35495e;
  margin: 0;
}

.mt-subtitle {
  width: 500px;
  font-weight: lighter;
  font-size: 28px;
  color: #526488;
  margin-top: 5px;
}

.mt-box--work .mt-subtitle,
.mt-box--sketches .mt-subtitle,
.mt-box--writing .mt-subtitle,
.mt-box--contact .mt-subtitle {
  color: #FFF;
}

.mt-close {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  right: 40px;
  top: 40px;
}

.mt-close svg path {
  width: 32px;
  height: 32px;
  opacity: 0.8;
  transition: opacity .25;
}

.mt-close:hover svg path {
  opacity: 1;
}

.mt-grid {
  display: grid;
}

.mt-grid--span {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-items: stretch;
  align-items: stretch;
}
